p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  margin-left: 10px;
  float: left;
}
.img-small {
  width: 180px;
}

.mt-2 {
  margin-top: 20px;
}

.logins {
  padding: 0px 22px;
}
