<h3><i class="fas fa-book-reader"></i> LifeTales</h3>

<div class="section">
    <p class="lead">Create Public and Private Tales from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="logins btn red darken-1">
        <i class="fab fa-google left"></i>LOG IN / SIGN UP WITH GOOGLE
    </a>
    <a href="/auth/facebook" class=" mt-2 btn blue darken-1">
        <i class="fab fa-facebook left"></i>LOG IN / SIGN UP WITH FACEBOOK
    </a>
</div>