<div class="contact-us">
    <form>
        <h1 style="margin-bottom: 10px; text-align: center;">
            <i class="fas fa-book-open"></i> LifeTales
        </h1>
        <p style="margin-bottom: 10px; text-align: center;">
            Create public or private Tales from your Life
        </p>

        <a href="/auth/google"><button type="button" style="margin-bottom: 20px">
                <i class="fab fa-google-plus-square"></i>
                SIGN IN/UP WITH GOOGLE
            </button></a>
        <a href="/auth/github"><button type="button" style="margin-bottom: 20px">
                <i class="fab fa-github"></i>
                SIGN IN/UP WITH GITHUB
            </button></a>

        <a href="/auth/facebook"><button type="button">
                <i class="fab fa-facebook-square"></i>
                SIGN IN/UP WITH FACEBOOK
            </button></a>
    </form>
</div>